html, body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  
  font-family: "Meiryo UI",sans-serif;
}

p.gazou img {
    height: 34px;width: auto;
    margin: 10px 0px 0px 2px; padding: 0px;
}
p.updatetime {
  color: #333;font-size: 0.8em;
}

p {margin: 0px;padding: 0px;}

td {height: 48px;}

h1 {
    color: #444; font-size: 1.5em; 
    padding: 0px 0px;
}

h3 {
    color: #555;font-size: 1.1em; 
    border-top: 1px solid #888;
	border-bottom: 1px solid #888;
}

h4 {  
    color: #777; font-size: 0.95em;
}

.NotesDB img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.NotesDB:hover{ 
	cursor: pointer;
	opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "NotesDB(opacity=70)";

}

.button1 {
  font-size: 1.13em;
  display: inline-block;
  width: 130px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  outline: none;
  
  position: relative;
  background-color: #444444;
  border-radius: 4px;
  color: #fff;
  line-height: 28px;
  
  box-shadow: 0 2px 0 #777799;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, .3);  */
}
.button1:hover {
  background-color: #666666;
  cursor: pointer;
  box-shadow: 0 2px 0 #9999bb;
}
.button1:active {
  top: 2px;
  box-shadow: none;
}
.button1::before,
.button1::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

.button1,
.button1::before,
.button1::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .4s;
  transition: all .4s;
}

