html, body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
}

p.gazou img {
    height: 35px;width: auto;
    margin: 10px 0px 0px 2px; padding: 0px;
}
p.updatetime {
  color: #333;font-size: 0.76em;
}

p {margin: 0px;padding: 0px;}

h1 {
    font-size: 1.5em;
    padding: .5em .75em;
	background-color: #f6f6f6;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

h3 {
  color: #333;font-size: 0.92em; 
  /* background-color: #f6f6f6; */
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

h4 {  
    font-size: 0.77em;
}
