html, body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  
  font-family: "Meiryo UI",sans-serif;
}

p.gazou img {
    height: 34px;width: auto;
    margin: 10px 0px 0px 2px; padding: 0px;
}
p.updatetime {
  color: #333;font-size: 0.8em;
}

p {margin: 0px;padding: 0px;}

td {height: 48px;}

h1 {
    color: #444; font-size: 1.5em; 
    padding: 0px 0px;
}

h3 {
    color: #555;font-size: 1.1em; 
    border-top: 1px solid #888;
	border-bottom: 1px solid #888;
}

h4 {  
    color: #777; font-size: 0.95em;
}

.NotesDB{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #ff7c5c;/*左線*/
    color: #ff7c5c;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.NotesDB:hover{ 
	cursor: pointer;
	opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "NotesDB(opacity=70)";
}
.NotesDB:active{
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

.button1 {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;


/*
	position: relative;
	font-size: 1.05em;
    width: 130px;
	height: 35px;
	line-height: 30px;

	text-align: center;
	text-decoration: none;
  
    display: inline-block;
    
    
    background: #668a55;
    color: #FFF;
    
    border-bottom: solid 4px #627295;
    border-radius: 10px;
    
	outline: none;  
	box-shadow: 0 2px 0 #777799;
	*/
	
}
.button1:hover {
	background: #668ad8;
/*
  background-color: #666666;
  cursor: pointer;
  box-shadow: 0 2px 0 #9999bb;
  */
}
.button1:active {
  top: 2px;
  box-shadow: none;
}
/*
.button1::before,
.button1::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
*/

.button1,
.button1::before,
.button1::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.statuslump{
	font-size: 0.8em;
    width: 52px;
    height: 26px;
    line-height: 26px; /*heightと同じ値にするとテキストが上下中央に配置 */
 	position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #FFF;/*色*/
    border: solid 1px #666;  
    border-radius: 15px / 15px;
    box-shadow: 0 0 15px rgba(0,0,0,.6) inset; 
    
    /* text-shadow: 0 1px 0 rgba(0,0,0,0.2); */
    visibility:hidden;
}
